div.container {
    margin-left: 20px;
    margin-right: 20px;
}
div.container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
div.container > form > table#tauler {
    margin: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
div.container > form > input.boto {
    display: flex;
    align-self: flex-end;
    margin-top: 50px;
    margin-right: 100px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 20px;
    background-color: #092668;
    color: #FFD300;
}
div.container > form > table.tauler > input.celes {
    display: flex;
    text-align: center;
}