/*
Estils del Joc
*/
* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    font-size: 18px;
}
html, body {
    display: flex;
    flex-direction: column;
    background-color: #CFD6D6;
}
h1 {
    margin: 25px;
    font-size: 35px;
    text-align: center;
    color: #092668;
}
h2 {
    margin: 15px;
    font-size: 25px;
    text-align: center;
    color: #092668;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #051845;
    color: #FFD300;
}
footer > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer > div > p {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.ocult {
    display: none;
}
.viva {
    background-color: #000000;
    color: #000000;
}
.morta {
    background-color: #ffffff;
    color: #ffffff;
}

/*
Estils de la Portada
*/
div.containerIndex {
    margin-left: 200px;
    margin-right: 200px;
}
div.containerIndex > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}
div.containerIndex > form > label {
    margin-bottom: 10px;
    color: #092668;
}
div.containerIndex > form > input.text {
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #E1E9E1;
}
div.containerIndex > form > input.boto {
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 20px;
    background-color: #092668;
    color: #FFD300;
}

/*
Estils de la Llavor
*/
div.containerLlavor {
    margin-left: 20px;
    margin-right: 20px;
}
div.containerLlavor > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
div.containerLlavor > form > table#tauler {
    margin: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
div.containerLlavor > form > input.boto {
    display: flex;
    align-self: flex-end;
    margin-top: 50px;
    margin-right: 100px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 20px;
    background-color: #092668;
    color: #FFD300;
}
.celesLlavor {
    text-align: center;
    border: 1px solid black;
}

/*
Estils de la Partida
*/
div.containerPartida {
    margin-left: 5px;
    margin-right: 5px;
}
div.containerPartida > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.containerPartida > form > div#estadistiques {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 20px;
    color: #092668;
}
div.containerPartida > form > table#tauler {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
div.containerPartida > form > div#inputs {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
div.containerPartida > form > div#inputs > input.boto {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 20px;
    background-color: #092668;
    color: #FFD300;
}
div.containerPartida > form > div#inputs > label {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: #092668;
}
.celesPartida {
    padding: 1%;
    text-align: center;
    border: 1px solid black;
}