/*
Animació (keyframes) perque les celes del tauler de la partida canvin de color
*/
@keyframes keyTauler {
    0% {background-color: #067806; color: #067806;}
    25% {background-color: #618D08; color: #618D08;}
    50% {background-color: #790647; color: #790647;}
    100% {background-color: #970808; color: #970808;}
}

/*
Estils del Joc
*/
/* DESKTOP */
@media screen and (min-width: 951px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        margin-top: 100px;
        width: 100%;
        color: rgb(255 255 255);
    }
    footer > div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    footer > div > p {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
    }
    footer > div > a {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        text-decoration: none;
        color: rgb(255 255 255);
        transition: color 1s;
    }
    footer > div > a:hover {
        color: rgb(241 245 249);
        transition: color 1s;
    }
    /*Classe per a missatges de error*/
    div.error {
        padding: 15px;
        border-radius: 20px;
        background-color: rgb(185 28 28);
        color: rgb(255 255 255);
    }
    div.error > p {
        text-align: center;
    }
}
/* MOBILE */
@media screen and (max-width: 950px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        margin-top: 100px;
        width: 100%;
        color: rgb(255 255 255);
    }
    footer > div > p {
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    footer > div > a {
        display: flex;
        justify-content: center;
        padding: 15px;
        text-decoration: none;
        color: rgb(255 255 255);
        transition: color 1s;
    }
    footer > div > a:hover {
        color: rgb(241 245 249);
        transition: color 1s;
    }
    /*Classe per a missatges de error*/
    div.error {
        padding: 10px;
        border-radius: 15px;
        background-color: rgb(185 28 28);
        color: rgb(255 255 255);
    }
    div.error > p {
        text-align: center;
    }
}
* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    font-size: 18px;
}
html, body {
    display: flex;
    flex-direction: column;
    background-color: rgb(15 23 42);
}
h1 {
    margin: 20px;
    font-size: 40px;
    text-align: center;
    color: rgb(255 255 255);
}
h2 {
    margin: 15px;
    font-size: 25px;
    text-align: center;
    color: rgb(255 255 255);
}
/*Clase per ocultar elements a l'usuari*/
.ocult {
    display: none;
}

/*
Estils de la Portada i de la Pagina d'Informació i Autors
*/
/* DESKTOP */
@media screen and (min-width: 1024px) {
    div.containerIndex {
        margin-left: 100px;
        margin-right: 100px;
        background-color: rgb(30 41 59);
        border-radius: 20px;
        box-shadow: 4px 4px 5px 5px;
    }
}
/* SMARTPHONE AND TABS */
@media screen and (min-width: 1001px) and (max-width: 1023px) {
    div.containerIndex {
        margin-left: 50px;
        margin-right: 50px;
        background-color: rgb(30 41 59);
        border-radius: 15px;
        box-shadow: 4px 4px 5px 5px;
    }
}
/* MOBILE */
@media screen and (max-width: 1000px) {
    div.containerIndex {
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgb(30 41 59);
        border-radius: 10px;
        box-shadow: 4px 4px 5px 5px;
    }
}
div.containerIndex > p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    color: rgb(241 245 249);
}
div.containerIndex > p > span {
    padding-right: 10px;
    font-weight: bold;
}
div.containerIndex > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}
div.containerIndex > form > label {
    margin-bottom: 10px;
    color: rgb(241 245 249);
}
div.containerIndex > form > input.text {
    margin-bottom: 50px;
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(203 213 225);
    border: 1px solid rgb(148 163 184);
    color: #000000;
    text-align: center;
}
div.containerIndex > form > input.boto {
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    border: 0px solid rgb(71 85 105);
    background-color: rgb(71 85 105);
    color: rgb(241 245 249);
    transition: background-color 1s, color 1s;
}
div.containerIndex > form > input.boto:hover {
    background-color: rgb(51 65 85);
    color: rgb(241 245 249);
    transition: background-color 1s, color 1s;
}

/*
Estils de la Llavor
*/
/* DESKTOP */
@media screen and (min-width: 1024px) {
    div.containerLlavor {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgb(30 41 59);
        border-radius: 10px;
        box-shadow: 4px 4px 5px 5px;
    }
    div.containerLlavor > form > input.boto {
        position: fixed;
        bottom: 40px;
        display: flex;
        align-self: flex-end;
        margin-right: 20px;
        padding: 10px;
        padding-left: 35px;
        padding-right: 35px;
        border-radius: 10px;
        border: 0px solid rgb(71 85 105);
        background-color: rgb(71 85 105);
        color: rgb(241 245 249);
        transition: background-color 1s, color 1s;
    }
}
/* SMARTPHONE AND TABS */
@media screen and (min-width: 851px) and (max-width: 1023px) {
    div.containerLlavor {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgb(30 41 59);
        border-radius: 10px;
        box-shadow: 4px 4px 5px 5px;
    }
    div.containerLlavor > form > input.boto {
        position: fixed;
        bottom: 40px;
        display: flex;
        align-self: flex-end;
        margin-right: 10px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 10px;
        border: 0px solid rgb(71 85 105);
        background-color: rgb(71 85 105);
        color: rgb(241 245 249);
        transition: background-color 1s, color 1s;
    }
}
/* MOBILE */
@media screen and (max-width: 850px) {
    div.containerLlavor {
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: rgb(30 41 59);
        border-radius: 5px;
        box-shadow: 4px 4px 5px 5px;
    }
    div.containerLlavor > form > input.boto {
        position: fixed;
        bottom: 40px;
        display: flex;
        align-self: flex-end;
        margin-right: 10px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        border: 0px solid rgb(71 85 105);
        background-color: rgb(71 85 105);
        color: rgb(241 245 249);
        transition: background-color 1s, color 1s;
    }
}
div.containerLlavor > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
div.containerLlavor > form > table#tauler {
    width: 50%;
}
div.containerLlavor > form > input.boto:hover {
    background-color: rgb(51 65 85);
    color: rgb(241 245 249);
    transition: background-color 1s, color 1s;
}
/*Classe per alinear al centre els checkbox de la configuració del tauler*/
.celesLlavor {
    text-align: center;
}
.celesLlavor > input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

/*
Estils de la Partida
*/
/* DESKTOP */
@media screen and (min-width: 1024px) {
    div.containerPartida {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
        background-color: rgb(30 41 59);
        border-radius: 10px;
        box-shadow: 4px 4px 5px 5px;
    }
    div.containerPartida > form > div#inputs {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        padding: 20px;
    }
    div.containerPartida > form > div#inputs > button.boto {
        margin-top: 20px;
        margin-left: 20px;
        padding: 10px;
        padding-left: 35px;
        padding-right: 35px;
        border-radius: 10px;
        border: 0px solid rgb(71 85 105);
        background-color: rgb(71 85 105);
        color: rgb(241 245 249);
        transition: background-color 1s, color 1s;
    }
    div.containerPartida > form > div#inputs > label {
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        color: rgb(241 245 249);
    }
}
/* SMARTPHONE AND TABS */
@media screen and (min-width: 851px) and (max-width: 1023px) {
    div.containerPartida {
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
        background-color: rgb(30 41 59);
        border-radius: 10px;
        box-shadow: 4px 4px 5px 5px;
    }
    div.containerPartida > form > div#inputs {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        padding: 20px;
    }
    div.containerPartida > form > div#inputs > button.boto {
        margin-top: 20px;
        margin-left: 20px;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 10px;
        border: 0px solid rgb(71 85 105);
        background-color: rgb(71 85 105);
        color: rgb(241 245 249);
        transition: background-color 1s, color 1s;
    }
    div.containerPartida > form > div#inputs > label {
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 20px;
        color: rgb(241 245 249);
    }
}
/* MOBILE */
@media screen and (max-width: 850px) {
    div.containerPartida {
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        padding-bottom: 10px;
        background-color: rgb(30 41 59);
        border-radius: 5px;
        box-shadow: 4px 4px 5px 5px;
    }
    div.containerPartida > form > div#inputs {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 20px;
    }
    div.containerPartida > form > div#inputs > button.boto {
        margin-top: 20px;
        margin-left: 10px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        border: 0px solid rgb(71 85 105);
        background-color: rgb(71 85 105);
        color: rgb(241 245 249);
        transition: background-color 1s, color 1s;
    }
    div.containerPartida > form > div#inputs > label {
        margin-top: 20px;
        margin-left: 10px;
        color: rgb(241 245 249);
    }
}
div.containerPartida > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.containerPartida > form > div#estadistiques {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 10px;
    padding: 20px;
    color: rgb(241 245 249);
}
div.containerPartida > form > table#tauler {
    width: 50%;
}
div.containerPartida > form > div#inputs > button.boto:hover {
    background-color: rgb(51 65 85);
    color: rgb(241 245 249);
    transition: background-color 1s, color 1s;
}
/*Classe per alinear al centre les celes de la partida*/
.celesPartida {
    border-radius: 3px;
    text-align: center;
}
/*Classe per marcar les celes que estan vives*/
.viva {
    background-color: rgb(67 56 202);
    color: rgb(67 56 202);
}
/*Classe per marcar les celes que estan mortes*/
.morta {
    background-color: rgb(15 23 42);
    color: rgb(15 23 42);
}
